.footer_container {
  width: 100%;
  background-color: #18181b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 40px 0;
  border-top: 3px solid #a970ff;
}

.logo_footer {
  width: 75px;
}

.logo_span {
  font-size: 1.9rem;
}
